* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-red {
    background-color: red;
}

.bg-blu {
    background-color: blue;
    border: 2px solid white;
}

.bg-green {
    background-color: green;
}

.content {
    height: 100px;
}

.content-1 {
    height: 80px;
}


.column {
    width: 100%;
    height: 1000px;
    padding: 0;
}

.row {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}

.padding-0 {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-10px {
    margin-top: 10px;
}