* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-red {
    background-color: red;
}

.bg-blu {
    background-color: blue;
    border: 2px solid white;
}

.bg-green {
    background-color: green;
}

.content-header {
    height: 100px;
}

#bottom {
    display: flex;
}

#sidebar {
    width: 100px;
    height: calc(100vh - 100px);
    background-color: blue;
}


#main {
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    background-color: blueviolet;
}


.row {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}